.vs/SimJoy/v14/.suo
SerialPortListener/bin/Debug/SerialPortListener.exe
SerialPortListener/bin/Debug/SerialPortListener.pdb
SerialPortListener/bin/Debug/vJoyInterface.dll
SerialPortListener/bin/Debug/vJoyInterfaceWrap.dll
SerialPortListener/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SerialPortListener/obj/x86/Debug/SerialPortListener.exe
SerialPortListener/obj/x86/Debug/SerialPortListener.pdb
SerialPortListener/obj/x86/Debug/SimJoy.csproj.FileListAbsolute.txt
SerialPortListener/obj/x86/Debug/SimJoy.csproj.GenerateResource.Cache
SerialPortListener/obj/x86/Debug/SimJoy.csprojResolveAssemblyReference.cache
SerialPortListener/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SerialPortListener/obj/x86/Debug/SerialPortListener.exe
SerialPortListener/obj/x86/Debug/SerialPortListener.pdb
